* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.ms-container {
  display: flex;
  width: 67%;
  margin: 0 auto;
}

header {
  width: 100%;
}

header #logo-header {
  display: flex;
  width: auto;
  padding: 20px 0;
}

header #logo-header img {
  height: 85px;
  width: 85px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #4d5056;
  font-size: 15px;
  font-weight: 600;
}

header nav ul li a.active {
  color: #2c89f9;
  border-bottom: 7px solid #2c89f9;
  padding-bottom: 50px;
}

header nav ul li a.search {
  display: inline-block;
  width: 140px;
  text-align: right;
  border-bottom: 3px solid #2c89f9;
  padding-bottom: 1px;
}

header nav ul li a span.arrow-down {
  position: relative;
  top: -1px;
  left: 3px;
  color: #2c89f9;
  font-size: 10px;
}

header .header-top {
  background-color: #0282f9;
}

header .header-top .container-header-top {
  display: flex;
  justify-content: right;
  color: #fff;
}

header .header-top .container-header-top span {
  margin: 0 10px 0 30px;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 0;
}

header .jumbotron-comics {
  margin-bottom: -4px;
}

header .jumbotron-comics img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

div.comics {
  display: flex;
  flex-direction: column;
}

div.comics .ms-container {
  flex-direction: column;
}

div.comics #content-main {
  width: 100%;
  background-color: #1c1c1c;
  padding: 20px 0;
}

div.comics #content-main .title-comics {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  font-size: 16px;
  padding: 16px 20px;
  background-color: #0282f9;
  position: relative;
  top: -50px;
  left: 0;
}

div.comics #content-main .cards-comics {
  display: flex;
  flex-wrap: wrap;
}

div.comics #content-main .cards-comics .card {
  display: flex;
  flex-direction: column;
  width: calc(16.6666666667% - 40px);
  cursor: pointer;
  margin: 0 25px 50px 15px;
}

div.comics #content-main .cards-comics .card a {
  text-decoration: none;
}

div.comics #content-main .cards-comics .card a img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 15px;
}

div.comics #content-main .cards-comics .card a span {
  color: #fff;
  font-size: 13px;
}

div.comics #content-main .more-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.comics #content-main .more-cards a {
  text-decoration: none;
  color: #fff;
  padding: 15px 65px;
  font-weight: 600;
  font-size: 14px;
  background-color: #0282f9;
}

#icons-main {
  padding: 50px 0;
  width: 100%;
  background-color: #0282f9;
}

#icons-main nav ul {
  display: flex;
  list-style: none;
}

#icons-main nav ul li {
  margin: 0 29px;
}

#icons-main nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

#icons-main nav ul li a img {
  width: 55px;
  height: 65px;
}

#icons-main nav ul li a span {
  margin-left: 15px;
}

#icons-main nav ul li:nth-child(4) img {
  width: 45px;
}

footer {
  display: flex;
  flex-direction: column;
}

footer #comics-footer {
  height: 450px;
  background-image: url("/storage/asset/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

footer #comics-footer .nav-footer {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  padding: 20px 0;
}

footer #comics-footer .nav-footer div {
  margin-right: 30px;
}

footer #comics-footer .nav-footer h3 {
  color: white;
  margin: 20px 0 20px;
  font-size: 18px;
}

footer #comics-footer .nav-footer ul {
  list-style: none;
}

footer #comics-footer .nav-footer ul li {
  margin: 5px 0;
}

footer #comics-footer .nav-footer ul li a {
  text-decoration: none;
  color: #959595;
  font-size: 14px;
}

footer #comics-footer .cookies-settings-text {
  width: 100%;
  color: #959595;
  font-size: 14px;
  margin: 0 0 150px 0;
}

footer #comics-footer .cookies-settings-text span {
  color: #1373cc;
}

footer #comics-footer .logo-footer {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  position: relative;
  top: -75px;
  left: 0;
}

footer #comics-footer .logo-footer img {
  filter: opacity(0.5);
  transform: rotate(-25deg);
}

footer #social-footer {
  width: 100%;
  background-color: #303030;
  padding: 20px 0;
}

footer #social-footer .btn-signup {
  display: flex;
  align-items: center;
  width: 50%;
}

footer #social-footer .btn-signup a {
  text-decoration: none;
  color: #fff;
  border: 2px solid #1068ba;
  padding: 10px 13px;
}

footer #social-footer .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

footer #social-footer .socials span {
  color: #0282f9;
  font-weight: 600;
  margin-right: 20px;
}

footer #social-footer .socials ul {
  list-style: none;
}

footer #social-footer .socials ul li {
  display: inline-block;
  margin: 0 10px;
}

footer #social-footer .socials ul li a img {
  width: 30px;
}

.ms-container-comic {
  display: flex;
  width: 53%;
  margin: 0 auto;
}

div.container-comic {
  width: auto;
}

div.container-comic .blue-bar {
  width: 100%;
  height: 80px;
  background-color: #0182F9;
}

div.container-comic .blue-bar .container-img {
  width: 194px;
  height: 293px;
  position: relative;
  bottom: 230px;
  left: 0;
  border: 1px solid #fff;
}

div.container-comic .blue-bar .container-img div {
  position: absolute;
  top: 0;
  left: 0;
  background: #00a9d9;
  color: #fff;
  padding: 3px 5px;
  font-size: 13px;
}

div.container-comic .blue-bar .container-img div:last-child {
  width: 100%;
  top: auto;
  bottom: 0;
  left: 0;
  text-align: center;
}

div.container-comic .description-comic {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}

div.container-comic .description-comic .container-description {
  width: 75%;
  padding: 50px 0;
}

div.container-comic .description-comic .container-description h2 {
  color: #003f5e;
  font-size: 26px;
}

div.container-comic .description-comic .container-description .price-availability {
  display: flex;
  margin: 20px 0;
  background-color: #55ba59;
  color: #bafd8d;
  font-weight: 500;
  min-height: 45px;
  border-bottom: 1px solid #000;
}

div.container-comic .description-comic .container-description .price-availability div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-left: 20px;
}

div.container-comic .description-comic .container-description .price-availability div span span {
  color: #fff;
}

div.container-comic .description-comic .container-description .price-availability div:last-child {
  justify-content: center;
  width: 30%;
  border-left: 1px solid #000;
  color: #fff;
}

div.container-comic .description-comic .container-description div.text-description {
  color: #555555;
  line-height: 25px;
  font-size: 16px;
}

div.container-comic .description-comic .container-advertisement {
  width: 25%;
  margin: 20px 0 0 35px;
  padding: 20px 0 0 0;
}

div.container-comic .description-comic .container-advertisement h3 {
  font-size: 16px;
  text-align: right;
  margin-bottom: 5px;
  color: gray;
}

div.container-comic .description-comic .container-advertisement img {
  width: 100%;
}

div.container-comic .info-comic {
  width: 100%;
  padding: 30px 0 120px;
  background-color: #f6f6f6;
  border: 1px solid #e6e6e6;
}

div.container-comic .info-comic div.specs {
  margin-left: 50px;
}

div.container-comic .info-comic div.talent,
div.container-comic .info-comic div.specs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

div.container-comic .info-comic div.talent h4,
div.container-comic .info-comic div.specs h4 {
  font-size: 24px;
  color: #003f5e;
  border-bottom: 1px solid #e1e0e0;
  padding-bottom: 25px;
}

div.container-comic .info-comic .art,
div.container-comic .info-comic .written,
div.container-comic .info-comic .series,
div.container-comic .info-comic .price,
div.container-comic .info-comic .sale-date {
  display: flex;
  border-bottom: 1px solid #e1e0e0;
  padding: 10px 0;
}

div.container-comic .info-comic .art div:first-child,
div.container-comic .info-comic .written div:first-child,
div.container-comic .info-comic .series div:first-child,
div.container-comic .info-comic .price div:first-child,
div.container-comic .info-comic .sale-date div:first-child {
  width: 30%;
  color: #003f5e;
}

div.container-comic .info-comic .art div:last-child,
div.container-comic .info-comic .written div:last-child,
div.container-comic .info-comic .series div:last-child,
div.container-comic .info-comic .price div:last-child,
div.container-comic .info-comic .sale-date div:last-child {
  width: 70%;
}

div.container-comic .info-comic .art span,
div.container-comic .info-comic .written span,
div.container-comic .info-comic .series span,
div.container-comic .info-comic .price span,
div.container-comic .info-comic .sale-date span {
  color: #00a9d9;
}

#info-dc-comic {
  width: 100%;
  display: flex;
  background-color: #f6f6f6;
}

#info-dc-comic div.ms-container-comic div {
  display: flex;
  min-height: 75px;
  justify-content: space-between;
  border: 1px solid #e6e6e6;
  padding: 10px 113px 0 10px;
}

#info-dc-comic div.ms-container-comic div span {
  color: gray;
}

